@font-face {
  font-family: "iconfont"; /* Project id 3979977 */
  src: url('//at.alicdn.com/t/c/font_3979977_25q93jzuxbuh.woff2?t=1682520082545') format('woff2'),
       url('//at.alicdn.com/t/c/font_3979977_25q93jzuxbuh.woff?t=1682520082545') format('woff'),
       url('//at.alicdn.com/t/c/font_3979977_25q93jzuxbuh.ttf?t=1682520082545') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ2:before {
  content: "\e667";
  color: red;
  /* 修改大小 */
  font-size: 24px;
}

.icon-QQ:before {
  content: "\e882";
  color: red;
  /* 修改大小 */
  font-size: 25px;
}

.icon-rss:before {
  content: "\ea03";
  color: #ee802f;
  /* 修改大小 */
  font-size: 21px;
}

.icon-mingpian2:before {
  content: "\e61f";
  /* 修改大小 */
  font-size: 15px;
}

.icon-csdn2:before {
  content: "\e60c";
  /* 修改颜色 */
  color: red;
  /* 修改大小 */
  font-size: 21px;
}

.icon-minutemailer:before {
  content: "\e64c";
  color: #1296db;
  /* 修改大小 */
  font-size: 21px;
}

.icon-csdn1:before {
  content: "\e600";
  color: red;
  /* 修改大小 */
  font-size: 21px;
}

.icon-yonghu1:before {
  content: "\e660";
  /* 修改大小 */
  /*font-size: 10px;*/
}

.icon-csdn:before {
  content: "\e639";
  color: red;
  /* 修改大小 */
  font-size: 21px;
}

.icon-yonghu:before {
  content: "\e638";
  /* 修改大小 */
  /*font-size: 10px;*/
}

