@font-face {
  font-family: "iconfont"; /* Project id 3979977 */
  src: url('//at.alicdn.com/t/c/font_3979977_g93yz090bdv.woff2?t=1683455474722') format('woff2'),
       url('//at.alicdn.com/t/c/font_3979977_g93yz090bdv.woff?t=1683455474722') format('woff'),
       url('//at.alicdn.com/t/c/font_3979977_g93yz090bdv.ttf?t=1683455474722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan3:before {
  content: "\e67d";
  /* 修改大小 */
  font-size: 15px;
}

.icon-youqinglianjie:before {
  content: "\e67f";
  /* 修改大小 */
  font-size: 15px;
}

.icon-tag:before {
  content: "\e60a";
  /* 修改大小 */
  font-size: 15px;
}

.icon-fenlei:before {
  content: "\e60b";
  /* 修改大小 */
  font-size: 15px;
}

.icon-guidang:before {
  content: "\e6b9";
  /* 修改大小 */
  font-size: 15px;
}

.icon-lianjie_URL:before {
  content: "\e668";
  /* 修改大小 */
  font-size: 15px;
}

.icon-lianjie_connect:before {
  content: "\e601";
  /* 修改大小 */
  font-size: 15px;
}

.icon-shouye:before {
  content: "\100a6";
  /* 修改大小 */
  font-size: 15px;
}

.icon-linedesign-12:before {
  content: "\e671";
  /* 修改大小 */
  font-size: 15px;
}

.icon-QQ2:before {
  content: "\e667";
}

.icon-QQ:before {
  content: "\e882";
  color: red;
  /* 修改大小 */
  font-size: 25px;
}

.icon-rss:before {
  content: "\ea03";
  color: #ee802f;
  /* 修改大小 */
  font-size: 21px;
}

.icon-mingpian2:before {
  content: "\e61f";
  /* 修改大小 */
  font-size: 15px;
}

.icon-minutemailer:before {
  content: "\e64c";
  color: #1296db;
  /* 修改大小 */
  font-size: 21px;
}

.icon-csdn1:before {
  content: "\e600";
  color: red;
  /* 修改大小 */
  font-size: 21px;
}
